body {
  background: #eee;
  font-family: sans-serif;
  box-sizing: border-box;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 5px;
}

.content {
  background: #e3f4ff;
  padding: 15px;
  margin-bottom: 10px;
}

.button-container {
  background: #e3f4ff;
  padding-left: 180px;
  padding-top: 10px;
  padding-bottom: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 7px;
  padding-left: 25px;
  padding-right: 25px;
  display: block;
  margin-left: -45px;
}